@font-face
  font-family: 'CaptainIcon'
  font-style: normal
  font-weight: normal
  src: url('web-fonts/CaptainIcon.eot?-1i2a56'), url('web-fonts/CaptainIcon.eot?#iefix-1i2a56') format('embedded-opentype'), url('web-fonts/CaptainIcon.woff?-1i2a56') format('woff'), url('web-fonts/CaptainIcon.ttf?-1i2a56') format('truetype'), url('web-fonts/CaptainIcon.svg?-1i2a56#CaptainIcon') format('svg')
