doctype html
html
  head
    title Captain Icon - Cheat Sheet
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='dist/captain-icons.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-utilities@4.0.0/bootstrap-utilities.min.css', rel='stylesheet', target='_blank')
  body
    -
      var values = [
        { uniCode: 'e600', icon: 'ci-home' },
        { uniCode: 'e6c1', icon: 'ci-home-alt' },
        { uniCode: 'e601', icon: 'ci-pin' },
        { uniCode: 'e602', icon: 'ci-comment' },
        { uniCode: 'e603', icon: 'ci-comment-dots' },
        { uniCode: 'e68c', icon: 'ci-comments' },
        { uniCode: 'e605', icon: 'ci-gear' },
        { uniCode: 'e606', icon: 'ci-gears' },
        { uniCode: 'e607', icon: 'ci-heart' },
        { uniCode: 'e608', icon: 'ci-lock' },
        { uniCode: 'e609', icon: 'ci-lock-opened' },
        { uniCode: 'e60a', icon: 'ci-load' },
        { uniCode: 'e60b', icon: 'ci-refresh' },
        { uniCode: 'e60d', icon: 'ci-tachometer' },
        { uniCode: 'e60e', icon: 'ci-compass' },
        { uniCode: 'e60f', icon: 'ci-timer' },
        { uniCode: 'e610', icon: 'ci-download' },
        { uniCode: 'e611', icon: 'ci-upload' },
        { uniCode: 'e612', icon: 'ci-envelope' },
        { uniCode: 'e764', icon: 'ci-envelope-opened' },
        { uniCode: 'e68a', icon: 'ci-envelope-in' },
        { uniCode: 'e68b', icon: 'ci-envelope-out' },
        { uniCode: 'e613', icon: 'ci-tag' },
        { uniCode: 'e6e5', icon: 'ci-tag-alt' },
        { uniCode: 'e614', icon: 'ci-eye' },
        { uniCode: 'e615', icon: 'ci-star' },
        { uniCode: 'e616', icon: 'ci-mobile' },
        { uniCode: 'e617', icon: 'ci-monitor' },
        { uniCode: 'e618', icon: 'ci-music-player' },
        { uniCode: 'e619', icon: 'ci-camera' },
        { uniCode: 'e61a', icon: 'ci-suitcase' },
        { uniCode: 'e61b', icon: 'ci-shelf' },
        { uniCode: 'e61c', icon: 'ci-umbrela' },
        { uniCode: 'e61d', icon: 'ci-trash' },
        { uniCode: 'e61f', icon: 'ci-shopping-cart' },
        { uniCode: 'e61e', icon: 'ci-shopping-cart-full' },
        { uniCode: 'e620', icon: 'ci-calendar' },
        { uniCode: 'e621', icon: 'ci-gift' },
        { uniCode: 'e622', icon: 'ci-test-tube' },
        { uniCode: 'e623', icon: 'ci-puzzle-piece' },
        { uniCode: 'e624', icon: 'ci-sun' },
        { uniCode: 'e6a1', icon: 'ci-sun-alt' },
        { uniCode: 'e625', icon: 'ci-map' },
        { uniCode: 'e626', icon: 'ci-paint-brush' },
        { uniCode: 'e627', icon: 'ci-lightbulb' },
        { uniCode: 'e628', icon: 'ci-phone' },
        { uniCode: 'e629', icon: 'ci-band-aid' },
        { uniCode: 'e62a', icon: 'ci-list-ul' },
        { uniCode: 'e62b', icon: 'ci-list-ol' },
        { uniCode: 'e62c', icon: 'ci-question' },
        { uniCode: 'e62d', icon: 'ci-file' },
        { uniCode: 'e62e', icon: 'ci-file-alt' },
        { uniCode: 'e652', icon: 'ci-file-edit' },
        { uniCode: 'e709', icon: 'ci-file-filled' },
        { uniCode: 'e62f', icon: 'ci-user' },
        { uniCode: 'e630', icon: 'ci-user-alt' },
        { uniCode: 'e631', icon: 'ci-users' },
        { uniCode: 'e632', icon: 'ci-users-alt' },
        { uniCode: 'e633', icon: 'ci-mouse' },
        { uniCode: 'e705', icon: 'ci-mouse-pointer' },
        { uniCode: 'e634', icon: 'ci-keyboard' },
        { uniCode: 'e706', icon: 'ci-keyboard-key' },
        { uniCode: 'e635', icon: 'ci-pencil' },
        { uniCode: 'e636', icon: 'ci-check' },
        { uniCode: 'e637', icon: 'ci-check-squared' },
        { uniCode: 'e638', icon: 'ci-times' },
        { uniCode: 'e639', icon: 'ci-times-squared' },
        { uniCode: 'e63a', icon: 'ci-plus' },
        { uniCode: 'e63c', icon: 'ci-leaf' },
        { uniCode: 'e753', icon: 'ci-leaf-alt' },
        { uniCode: 'e707', icon: 'ci-leaf-leaf' },
        { uniCode: 'e63d', icon: 'ci-laptop' },
        { uniCode: 'e63e', icon: 'ci-coffee' },
        { uniCode: 'e6d7', icon: 'ci-coffee-long' },
        { uniCode: 'e63f', icon: 'ci-bolt' },
        { uniCode: 'e641', icon: 'ci-skull' },
        { uniCode: 'e642', icon: 'ci-disc-compact' },
        { uniCode: 'e644', icon: 'ci-speaker' },
        { uniCode: 'e645', icon: 'ci-microwave' },
        { uniCode: 'e646', icon: 'ci-pen' },
        { uniCode: 'e6d8', icon: 'ci-pen-fountain' },
        { uniCode: 'e703', icon: 'ci-pen-nib' },
        { uniCode: 'e647', icon: 'ci-bat-baseball' },
        { uniCode: 'e648', icon: 'ci-phonograph' },
        { uniCode: 'e649', icon: 'ci-plug-usb' },
        { uniCode: 'e64a', icon: 'ci-lamp-desk' },
        { uniCode: 'e64b', icon: 'ci-gamepad' },
        { uniCode: 'e64c', icon: 'ci-gamepad-alt' },
        { uniCode: 'e64d', icon: 'ci-portrait' },
        { uniCode: 'e64e', icon: 'ci-books' },
        { uniCode: 'e64f', icon: 'ci-bag' },
        { uniCode: 'e650', icon: 'ci-glasses' },
        { uniCode: 'e651', icon: 'ci-box' },
        { uniCode: 'e685', icon: 'ci-box-opened' },
        { uniCode: 'e653', icon: 'ci-music' },
        { uniCode: 'e654', icon: 'ci-music-note' },
        { uniCode: 'e656', icon: 'ci-search-plus' },
        { uniCode: 'e657', icon: 'ci-search-minus' },
        { uniCode: 'e658', icon: 'ci-utensils' },
        { uniCode: 'e659', icon: 'ci-print' },
        { uniCode: 'e65a', icon: 'ci-facebook' },
        { uniCode: 'e65b', icon: 'ci-facebook-squared' },
        { uniCode: 'e65c', icon: 'ci-facebook-circled' },
        { uniCode: 'e65d', icon: 'ci-twitter' },
        { uniCode: 'e65e', icon: 'ci-twitter-squared' },
        { uniCode: 'e65f', icon: 'ci-twitter-circled' },
        { uniCode: 'e666', icon: 'ci-google-plus' },
        { uniCode: 'e667', icon: 'ci-google-plus-squared' },
        { uniCode: 'e668', icon: 'ci-google-plus-circled' },
        { uniCode: 'e669', icon: 'ci-rss' },
        { uniCode: 'e66a', icon: 'ci-rss-squared' },
        { uniCode: 'e66b', icon: 'ci-rss-circled' },
        { uniCode: 'e66c', icon: 'ci-linkedin' },
        { uniCode: 'e66d', icon: 'ci-linkedin-squared' },
        { uniCode: 'e66e', icon: 'ci-linkedin-circled' },
        { uniCode: 'e66f', icon: 'ci-youtube' },
        { uniCode: 'e670', icon: 'ci-vevo' },
        { uniCode: 'e671', icon: 'ci-vevo-squared' },
        { uniCode: 'e672', icon: 'ci-vevo-circled' },
        { uniCode: 'e678', icon: 'ci-whatsapp' },
        { uniCode: 'e679', icon: 'ci-whatsapp-squared' },
        { uniCode: 'e67a', icon: 'ci-whatsapp-circled' },
        { uniCode: 'e67e', icon: 'ci-at' },
        { uniCode: 'e67f', icon: 'ci-domino' },
        { uniCode: 'e680', icon: 'ci-git' },
        { uniCode: 'e681', icon: 'ci-website' },
        { uniCode: 'e682', icon: 'ci-css' },
        { uniCode: 'e683', icon: 'ci-fire' },
        { uniCode: 'e684', icon: 'ci-mustache' },
        { uniCode: 'e686', icon: 'ci-folder-opened' },
        { uniCode: 'e687', icon: 'ci-sitemap' },
        { uniCode: 'e688', icon: 'ci-usb' },
        { uniCode: 'e689', icon: 'ci-button-clothing' },
        { uniCode: 'e68e', icon: 'ci-thumbtack' },
        { uniCode: 'e70a', icon: 'ci-thumbtack-alt' },
        { uniCode: 'e68f', icon: 'ci-address-card' },
        { uniCode: 'e6a2', icon: 'ci-address-card-alt' },
        { uniCode: 'e690', icon: 'ci-cat' },
        { uniCode: 'e691', icon: 'ci-ghost' },
        { uniCode: 'e692', icon: 'ci-chicken' },
        { uniCode: 'e693', icon: 'ci-balloon' },
        { uniCode: 'e643', icon: 'ci-balloon-alt' },
        { uniCode: 'e694', icon: 'ci-balloon-face' },
        { uniCode: 'e696', icon: 'ci-rocket' },
        { uniCode: 'e697', icon: 'ci-broccoli' },
        { uniCode: 'e698', icon: 'ci-onion' },
        { uniCode: 'e69a', icon: 'ci-banana' },
        { uniCode: 'e699', icon: 'ci-banana-peel' },
        { uniCode: 'e69b', icon: 'ci-croissant' },
        { uniCode: 'e69c', icon: 'ci-elephant' },
        { uniCode: 'e69d', icon: 'ci-octopus' },
        { uniCode: 'e69e', icon: 'ci-bowling' },
        { uniCode: 'e69f', icon: 'ci-orange' },
        { uniCode: 'e6a0', icon: 'ci-watermelon' },
        { uniCode: 'e6a3', icon: 'ci-tape' },
        { uniCode: 'e6a4', icon: 'ci-page' },
        { uniCode: 'e6a6', icon: 'ci-ruler' },
        { uniCode: 'e6a7', icon: 'ci-lemon' },
        { uniCode: 'e6a8', icon: 'ci-bicycle' },
        { uniCode: 'e6a9', icon: 'ci-ball-baseball' },
        { uniCode: 'e6aa', icon: 'ci-ball-soccer' },
        { uniCode: 'e6ab', icon: 'ci-ball-basket' },
        { uniCode: 'e6ac', icon: 'ci-ball-footbal' },
        { uniCode: 'e6c8', icon: 'ci-ball-eight' },
        { uniCode: 'e6ad', icon: 'ci-foot' },
        { uniCode: 'e6ae', icon: 'ci-mashroom' },
        { uniCode: 'e6af', icon: 'ci-ship' },
        { uniCode: 'e6b0', icon: 'ci-submarine' },
        { uniCode: 'e6b1', icon: 'ci-log' },
        { uniCode: 'e6b2', icon: 'ci-broom' },
        { uniCode: 'e6b3', icon: 'ci-bone' },
        { uniCode: 'e6b4', icon: 'ci-paw' },
        { uniCode: 'e6b5', icon: 'ci-hanger' },
        { uniCode: 'e6b6', icon: 'ci-key' },
        { uniCode: 'e73f', icon: 'ci-key-alt' },
        { uniCode: 'e6b7', icon: 'ci-spaceship' },
        { uniCode: 'e6b8', icon: 'ci-pacman' },
        { uniCode: 'e6b9', icon: 'ci-ticket' },
        { uniCode: 'e6ba', icon: 'ci-money-bill' },
        { uniCode: 'e6bb', icon: 'ci-battery-empty' },
        { uniCode: 'e6bc', icon: 'ci-battery-slash' },
        { uniCode: 'e6bd', icon: 'ci-battery-quarter' },
        { uniCode: 'e6be', icon: 'ci-battery-half' },
        { uniCode: 'e6bf', icon: 'ci-battery-full' },
        { uniCode: 'e6c0', icon: 'ci-battery-bolt' },
        { uniCode: 'e6c2', icon: 'ci-book' },
        { uniCode: 'e6c3', icon: 'ci-pizza' },
        { uniCode: 'e6c4', icon: 'ci-cupcake' },
        { uniCode: 'e6c5', icon: 'ci-store' },
        { uniCode: 'e6c6', icon: 'ci-bullseye' },
        { uniCode: 'e6c7', icon: 'ci-bullseye-alt' },
        { uniCode: 'e6c9', icon: 'ci-chat' },
        { uniCode: 'e6ca', icon: 'ci-clapperboard' },
        { uniCode: 'e6cb', icon: 'ci-fish-skeleton' },
        { uniCode: 'e6cc', icon: 'ci-erlenmeyer' },
        { uniCode: 'e6cd', icon: 'ci-grape' },
        { uniCode: 'e6ce', icon: 'ci-plane' },
        { uniCode: 'e6df', icon: 'ci-plane-paper' },
        { uniCode: 'e6cf', icon: 'ci-zeppelin' },
        { uniCode: 'e6d0', icon: 'ci-ice-pop' },
        { uniCode: 'e6d1', icon: 'ci-ice-cream' },
        { uniCode: 'e6d2', icon: 'ci-thumbs-up' },
        { uniCode: 'e6d3', icon: 'ci-thumbs-down' },
        { uniCode: 'e6d4', icon: 'ci-cheese' },
        { uniCode: 'e6d5', icon: 'ci-cake' },
        { uniCode: 'e6d6', icon: 'ci-bread' },
        { uniCode: 'e6d9', icon: 'ci-feather' },
        { uniCode: 'e6db', icon: 'ci-globe' },
        { uniCode: 'e6dc', icon: 'ci-share' },
        { uniCode: 'e6dd', icon: 'ci-skype' },
        { uniCode: 'e6de', icon: 'ci-html5' },
        { uniCode: 'e6e0', icon: 'ci-tablet' },
        { uniCode: 'e6e1', icon: 'ci-save' },
        { uniCode: 'e6e2', icon: 'ci-headphones' },
        { uniCode: 'e6e3', icon: 'ci-drawer' },
        { uniCode: 'e6e4', icon: 'ci-drawer-empty' },
        { uniCode: 'e6ed', icon: 'ci-terminal' },
        { uniCode: 'e6ee', icon: 'ci-tie' },
        { uniCode: 'e6ef', icon: 'ci-tie-bow' },
        { uniCode: 'e6f0', icon: 'ci-milkshake' },
        { uniCode: 'e6f1', icon: 'ci-sunglass' },
        { uniCode: 'e6f2', icon: 'ci-quote-left' },
        { uniCode: 'e6f3', icon: 'ci-quote-right' },
        { uniCode: 'e6f4', icon: 'ci-link' },
        { uniCode: 'e6f5', icon: 'ci-link-external' },
        { uniCode: 'e6f6', icon: 'ci-ellipsis' },
        { uniCode: 'e6f7', icon: 'ci-files' },
        { uniCode: 'e6f8', icon: 'ci-arrows' },
        { uniCode: 'e6f9', icon: 'ci-arrows-alt' },
        { uniCode: 'e6fa', icon: 'ci-arrows-pointer' },
        { uniCode: 'e6fb', icon: 'ci-knot' },
        { uniCode: 'e6fc', icon: 'ci-dashed-circled' },
        { uniCode: 'e6fd', icon: 'ci-dashed-squared' },
        { uniCode: 'e6fe', icon: 'ci-wand' },
        { uniCode: 'e6ff', icon: 'ci-scalpel' },
        { uniCode: 'e700', icon: 'ci-brush' },
        { uniCode: 'e710', icon: 'ci-brush-alt' },
        { uniCode: 'e701', icon: 'ci-drop' },
        { uniCode: 'e702', icon: 'ci-magnifier' },
        { uniCode: 'e704', icon: 'ci-text' },
        { uniCode: 'e708', icon: 'ci-stamp' },
        { uniCode: 'e70b', icon: 'ci-contrast' },
        { uniCode: 'e70c', icon: 'ci-stars' },
        { uniCode: 'e70d', icon: 'ci-bucket' },
        { uniCode: 'e70e', icon: 'ci-toilet-paper' },
        { uniCode: 'e70f', icon: 'ci-sliders-v' },
        { uniCode: 'e711', icon: 'ci-paperclip' },
        { uniCode: 'e712', icon: 'ci-tools' },
        { uniCode: 'e71b', icon: 'ci-arrow-to-left' },
        { uniCode: 'e725', icon: 'ci-arrow-to-left-circled' },
        { uniCode: 'e71a', icon: 'ci-arrow-to-right' },
        { uniCode: 'e724', icon: 'ci-arrow-to-right-circled' },
        { uniCode: 'e714', icon: 'ci-arrow-left' },
        { uniCode: 'e71e', icon: 'ci-arrow-left-circled' },
        { uniCode: 'e723', icon: 'ci-arrow-left-circled-doubled' },
        { uniCode: 'e719', icon: 'ci-arrow-left-doubled' },
        { uniCode: 'e713', icon: 'ci-arrow-right' },
        { uniCode: 'e71d', icon: 'ci-arrow-right-circled' },
        { uniCode: 'e722', icon: 'ci-arrow-right-circled-doubled' },
        { uniCode: 'e718', icon: 'ci-arrow-right-doubled' },
        { uniCode: 'e715', icon: 'ci-arrow-down' },
        { uniCode: 'e71f', icon: 'ci-arrow-down-circled' },
        { uniCode: 'e716', icon: 'ci-arrow-up' },
        { uniCode: 'e720', icon: 'ci-arrow-up-circled' },
        { uniCode: 'e717', icon: 'ci-pause' },
        { uniCode: 'e721', icon: 'ci-pause-circle' },
        { uniCode: 'e71c', icon: 'ci-stop' },
        { uniCode: 'e726', icon: 'ci-stop-circle' },
        { uniCode: 'e727', icon: 'ci-boy' },
        { uniCode: 'e728', icon: 'ci-boy-alt' },
        { uniCode: 'e729', icon: 'ci-girl' },
        { uniCode: 'e72a', icon: 'ci-girl-alt' },
        { uniCode: 'e72b', icon: 'ci-picture' },
        { uniCode: 'e72c', icon: 'ci-tap' },
        { uniCode: 'e72d', icon: 'ci-playing-card' },
        { uniCode: 'e640', icon: 'ci-egg' },
        { uniCode: 'e72f', icon: 'ci-egg-shell' },
        { uniCode: 'e730', icon: 'ci-egg-shell-alt' },
        { uniCode: 'e732', icon: 'ci-chart-bar' },
        { uniCode: 'e6a5', icon: 'ci-chart-bar-pie' },
        { uniCode: 'e731', icon: 'ci-chart-bar-increase' },
        { uniCode: 'e733', icon: 'ci-chart-bar-decrease' },
        { uniCode: 'e734', icon: 'ci-wifi' },
        { uniCode: 'e735', icon: 'ci-percent' },
        { uniCode: 'e736', icon: 'ci-unlock' },
        { uniCode: 'e737', icon: 'ci-chess-horse' },
        { uniCode: 'e739', icon: 'ci-muffin' },
        { uniCode: 'e73a', icon: 'ci-denied' },
        { uniCode: 'e73b', icon: 'ci-align-justify' },
        { uniCode: 'e73c', icon: 'ci-align-left' },
        { uniCode: 'e73d', icon: 'ci-align-center' },
        { uniCode: 'e73e', icon: 'ci-align-right' },
        { uniCode: 'e740', icon: 'ci-fedora' },
        { uniCode: 'e742', icon: 'ci-square-nut' },
        { uniCode: 'e743', icon: 'ci-screw' },
        { uniCode: 'e744', icon: 'ci-bottle' },
        { uniCode: 'e741', icon: 'ci-bottle-prescription' },
        { uniCode: 'e6da', icon: 'ci-bottle-ink' },
        { uniCode: 'e745', icon: 'ci-power-plug' },
        { uniCode: 'e655', icon: 'ci-power-off' },
        { uniCode: 'e746', icon: 'ci-notebook' },
        { uniCode: 'e738', icon: 'ci-notebook-alt' },
        { uniCode: 'e747', icon: 'ci-spatula' },
        { uniCode: 'e748', icon: 'ci-hourglass' },
        { uniCode: 'e749', icon: 'ci-bell' },
        { uniCode: 'e74a', icon: 'ci-lifesaver' },
        { uniCode: 'e74b', icon: 'ci-anchor' },
        { uniCode: 'e74c', icon: 'ci-binoculars' },
        { uniCode: 'e74d', icon: 'ci-piggy-bank' },
        { uniCode: 'e74e', icon: 'ci-flower' },
        { uniCode: 'e74f', icon: 'ci-flowers' },
        { uniCode: 'e750', icon: 'ci-weights' },
        { uniCode: 'e751', icon: 'ci-database' },
        { uniCode: 'e752', icon: 'ci-ring' },
        { uniCode: 'e754', icon: 'ci-info' },
        { uniCode: 'e755', icon: 'ci-info-circle' },
        { uniCode: 'e756', icon: 'ci-bomb' },
        { uniCode: 'e757', icon: 'ci-university' },
        { uniCode: 'e758', icon: 'ci-antenna' },
        { uniCode: 'e75a', icon: 'ci-flag' },
        { uniCode: 'e759', icon: 'ci-flag-alt' },
        { uniCode: 'e75b', icon: 'ci-joystick' },
        { uniCode: 'e75c', icon: 'ci-hand' },
        { uniCode: 'e75d', icon: 'ci-pineapple' },
        { uniCode: 'e75e', icon: 'ci-tangerine' },
        { uniCode: 'e75f', icon: 'ci-cherry' },
        { uniCode: 'e760', icon: 'ci-notification' },
        { uniCode: 'e761', icon: 'ci-notification-alt' },
        { uniCode: 'e762', icon: 'ci-ribbon' },
        { uniCode: 'e60c', icon: 'ci-clock' },
        { uniCode: 'e763', icon: 'ci-clock-alarm' },
        { uniCode: 'e765', icon: 'ci-windmill' },
        { uniCode: 'e766', icon: 'ci-filter' },
        { uniCode: 'e767', icon: 'ci-capsule' },
        { uniCode: 'e768', icon: 'ci-monster' },
        { uniCode: 'e769', icon: 'ci-monster-alt' },
        { uniCode: 'e76a', icon: 'ci-monster-alt-one' },
        { uniCode: 'e76b', icon: 'ci-monster-alt-two' },
        { uniCode: 'e76c', icon: 'ci-monster-alt-three' },
        { uniCode: 'e76d', icon: 'ci-monster-alt-four' },
        { uniCode: 'e72e', icon: 'ci-monster-alt-five' },
        { uniCode: 'e76e', icon: 'ci-headset' },
        { uniCode: 'e76f', icon: 'ci-ribbons-award' },
        { uniCode: 'e770', icon: 'ci-wheat' },
        { uniCode: 'e771', icon: 'ci-moon' },
        { uniCode: 'e604', icon: 'ci-cloud' },
        { uniCode: 'e772', icon: 'ci-cloud-small' },
        { uniCode: 'e6ec', icon: 'ci-cloud-cog' },
        { uniCode: 'e6e6', icon: 'ci-cloud-cog-halved' },
        { uniCode: 'e6e7', icon: 'ci-cloud-check' },
        { uniCode: 'e6e8', icon: 'ci-cloud-refresh' },
        { uniCode: 'e6e9', icon: 'ci-cloud-search' },
        { uniCode: 'e6ea', icon: 'ci-cloud-up' },
        { uniCode: 'e6eb', icon: 'ci-cloud-down' },
        { uniCode: 'e63b', icon: 'ci-cloud-bolt' },
        { uniCode: 'e773', icon: 'ci-cloud-sunny' },
        { uniCode: 'e774', icon: 'ci-cloud-windy' },
        { uniCode: 'e775', icon: 'ci-cloud-rainy' },
        { uniCode: 'e776', icon: 'ci-cloud-stormy' }
      ]
    section.section.hero.is-fullheight.column.is-8.is-offset-2
      .hero-head.has-background-info
        h1.has-text-centered.is-capitalise.has-text-light.is-size-4.pt-5
          a.has-text-weight-bold.has-text-light(href='https://mariodelvalle.github.io/CaptainIconWeb/') Captain Icon
          |  Cheat Sheet
      .hero-body.has-background-info
        .container
          .card
            .card-content
              table.w-100.is-size-6(style='border-collapse: collapse;')
                thead
                  tr.is-uppercase.is-size-7
                    th(style='width: 80px;') Unicode
                    th.w-25 CSS Class
                    th.w-50 Example
                    th(style='width: 100px;')
                      span.float-right Icon
                tbody(style='border-top: 30px solid white;')
                  each val, index in values
                    tr
                      td.is-size-7.has-text-weight-bold= val.uniCode
                      td.is-size-7= val.icon
                      td
                        pre.prettyprint.lang-html= "<i class='cap-icon " + val.icon +"'></i>"
                      td.float-right.is-size-4
                        i.cap-icon(class=val.icon)
      .hero-foot.has-background-grey-dark.is-size-7.has-text-grey-lighter.py-5.pr-4
        p.float-right
          a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
            img(alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png")
    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
